.handArea {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
