.cardSpaceBorder {
  border: 1px dotted #bbb;
  width: 50px;
  height: 70px;
  border-radius: 5px;
  color: #bbb;
  text-align: center;
}

.nonPhysicalBoard {
  border: 1px dotted #555;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.nonPhysicalBoard > div {
  border: 1px dotted #ddd;
}
